@use "../../sass/abstracts/variables" as *;

.calculator {
    display: flex;
    flex-direction: column;
    gap: $calculator-gap;

    width: $calculator-width;
    margin-inline: auto;
    padding-block: $calculator-padding-block-mobile;

    &__main {
        display: flex;
        flex-direction: column;
        gap: $calculator-gap;
    }

    @media (min-width: $breakpoint-tablet) {
        padding-block: $calculator-padding-block-tablet;
    }
}
